# {{ ansible_managed }}

bind {{ redis_bind }}
protected-mode {{ redis_protected_mode }}
port {{ redis_port }}
tcp-backlog 511
timeout {{ redis_timeout }}
tcp-keepalive {{ redis_tcp_keepalive }}
daemonize yes
supervised no
pidfile {{ redis_pidfile }}
loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}
databases 16
always-show-logo yes
save 900 1
save 300 10
save 60 10000
stop-writes-on-bgsave-error yes
rdbcompression {{ redis_rdbcompression }}
rdbchecksum {{ redis_rdbchecksum }}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dir }}
{% if redis_slaveof_host is defined and redis_slaveof_port is defined -%}
slaveof {{ redis_slaveof_host }} {{ redis_slaveof_port }}
{% endif -%}
masterauth {{ redis_password }}
slave-serve-stale-data yes
slave-read-only yes
repl-diskless-sync no
repl-diskless-sync-delay 5
repl-disable-tcp-nodelay no
slave-priority 100
requirepass {{ redis_password }}
lazyfree-lazy-eviction no
lazyfree-lazy-expire no
lazyfree-lazy-server-del no
slave-lazy-flush no
appendonly {{ redis_appendonly }}
appendfilename {{ redis_appendfilename }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
aof-use-rdb-preamble no
lua-time-limit 5000
slowlog-log-slower-than 10000
slowlog-max-len 128
latency-monitor-threshold 0
notify-keyspace-events ""
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-size -2
list-compress-depth 0
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
hll-sparse-max-bytes 3000
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
